python-dotenv>=0.19.0
# Collector runner dependencies
nats-py==2.13.1
pydantic>=2.6
pydantic-settings>=2.2
croniter>=2.0
pandas
pytz
django-environ
requests
networkx>=2.6.3
paho-mqtt
kafka-python>=2.0.2
jsonfield>=3.1.0
pendulum>=2.1.2
redis==5.0.0
babel
rauth
py-moneyed
flask
croniter